<f:layout name="Default" />

<f:section name="MainContent">
	<div class="post">
		<nav>
			<ul>
				<f:if condition="{previousPost}">
					<li><f:link.action action="show" arguments="{post: previousPost}" rel="prev">&loarr; previous post</f:link.action></li>
				</f:if>
				<f:if condition="{nextPost}">
					<li class="next"><f:link.action action="show" arguments="{post: nextPost}" rel="next">next post &roarr;</f:link.action></li>
				</f:if>
			</ul>
		</nav>
		<f:render partial="PostActions" arguments="{post: post}"/>
		<h2>
			<f:link.action action="show" arguments="{post: post}">{post.subject}</f:link.action>
		</h2>
		<p>{post.content -> f:format.nl2br()}</p>
		<f:render partial="PostMetaData" arguments="{post: post}"/>
	</div>
	<f:link.action action="index">&loarr; Back</f:link.action>
</f:section>